/* Модальное окно */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1; /* Находится на переднем плане */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Включить прокрутку, если нужно */
    background-color: rgba(0, 0, 0, 0.4); /* С добавлением прозрачности */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Увеличиваем ширину модального окна */
    max-width: 500px; /* Максимальная ширина модального окна */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-content h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 7px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стиль для формы поиска */
#search_form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.form-group label {
    flex: 0 0 120px; /* Ширина метки */
}

.form-group input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#search_form button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #444;
    color: white;
    cursor: pointer;
    margin: 0 5px;
}

#search_form button:hover {
    background-color: #555;
    color: gold;
}

#search_form button:disabled {
    background-color: #777;
    cursor: not-allowed;
}
