{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="main_content">
        <div class="cards">
            {% for movie in movies %}
                <a href="/movie/{{ movie.id }}/">
                    <div class="movie_card">
                        <img src="/static/image/{{ movie.poster }}" alt="">
                        <p>{{ movie.caption }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% block pages %}
            <div class="line_pages">
                {% if source %}
                    {% set link="/search/page/" %}
                {% else %}
                    {% set link="/page/" %}
                {% endif %}

                {% if pages.previous %}
                <div class="previous_page"><a href="{{ link }}{{ pages.previous }}/"><< назад [{{ pages.previous }}]</a></div>
                {% endif %}
                {% if pages.next %}
                <div class="next_page"><a href="{{ link }}{{ pages.next }}/">[{{ pages.next }}] далее >></a></div>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

