{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="main_content">
        <div class="nodata">НЕТ ДАННЫХ ДЛЯ ОТОБРАЖЕНИЯ</div>
        {% block pages %}
            <div class="line_pages">
                {% if source %}
                    {% set link="/search/page/" %}
                {% else %}
                    {% set link="/page/" %}
                {% endif %}

                {% if pages.previous %}
                <div class="previous_page"><a href="{{ link }}{{ pages.previous }}/"><< назад [{{ pages.previous }}]</a></div>
                {% endif %}
                {% if pages.next %}
                <div class="next_page"><a href="{{ link }}{{ pages.next }}/">[{{ pages.next }}] далее >></a></div>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

